# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Custom build output directories
# Adjust or remove based on your project structure
dist
dist-ssr

# Local development artifacts
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# macOS specific files to ignore
.DS_Store

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files generated during development
*.sw?
.env